<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <form action="/" method="post">
        <button id="backBtn">Back</button>
    </form>
    <h1>History</h1>
    <ul>
        <% history.forEach(entry => { %>
            <li><%= entry.time %> - Won: <%= entry.amount %></li>
        <% }) %>
    </ul>
</body>
</html>