<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Slot Machine Game</h1>
    <h2><%= balMes %></h2>
    <pre><%= result %></pre>
    <h3><%= winMess %></h3>
    <form action="/" method="post">
        <button>Spin</button>
    </form>
</body>
</html>